@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #656080;
}

/*Clock styling*/

.clock {
  height: 80%;
  aspect-ratio: 1/2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #28204d;
  box-shadow: 2px 2px 7px 1px #090033;
  border-radius: 20px;
}
.clock-heading {
  width: 80%;
  padding: 2%;
  border-radius: 10px;
  color: #e0dfe6;
}
.timer-container {
  justify-self: center;
  aspect-ratio: 1/1;
  width: 80%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 7px 1px #090033;
}
.timer-container > h3 {
  color: #e0dfe6;
}
.timer-container > h1 {
  font-size: 3.5rem;
  margin-top: 0;
  color: #e0dfe6;
}
.play-buttons {
  margin-top: 5%;
  width: 80%;
}
.play-buttons > button {
  min-width: 50px;
}
.session-container > p, span {
  font-weight: 500;
  color: #e0dfe6;
}
.break-container > p {
  font-weight: 500;
  color: #e0dfe6;
}
/*styling for all buttons*/

button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: auto 5%;
  cursor: pointer;
}

.footer {
  color: #e0dfe6;
}
.footer > i {
  color: #28204d;
}
.footer > a {
  text-decoration: none;
  color: #28204d;
}